[Unit]
# https://docs.docker.com/articles/host_integration/
# https://coreos.com/docs/launching-containers/launching/getting-started-with-systemd/
# /etc/systemd/system/greptweet.service
# sudo systemctl enable greptweet.service
Description=Greptweet
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill greptweet1
ExecStartPre=-/usr/bin/docker rm greptweet1
ExecStart=/usr/bin/docker run --name greptweet1 -v /srv/www/greptweet.com:/srv/http/u -v /home/core/greptweet/www:/srv/http/ -p 80:80 hendry/greptweet
ExecStop=/usr/bin/docker stop greptweet1

[Install]
WantedBy=multi-user.target
